<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
</head>
<body>
    <script>
        function goBack() {
          window.history.back();
        }
       
    </script>
<link rel="stylesheet" type="text/css" href="../static/login.css" />
<div class="imgcontainer">
    <img src="../pictures/164565749_904073400393592_2799989956872052050_n.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username"id="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" id="psw" required>

    <button type="submit"onclick="alert('Hello world!')">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button onclick="goBack()">Cancel</button>
    
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>
</body>
</html>